<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tipe pembayaran</th>
      <th>Bank</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% payments.forEach((payment, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= payment.type %></td>
      <td>
        <% payment.banks.forEach(bank => { %>
        <span class="badge badge-warning">
          <%= bank.name %>-<%= bank.bankName %>-<%= bank.accountNumber %>
        </span>
        <% }) %>
      </td>
      <td>
        <% if(payment.status === 'Y') { %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak aktif </span>
        <% } %>
      </td>
      <td>
        <form
          action="/payment/status/<%= payment._id %>?_method=PUT"
          style="display: inline-block"
          method="POST"
        >
          <button class="btn btn-primary btn-sm">
            <% if(payment.status === 'Y') { %>
            <i class="fas fa-window-close"></i>
            Matikan <% } else { %>
            <i class="fas fa-check-square"></i>
            Aktifkan <% } %>
          </button>
        </form>
        <a href="/payment/edit/<%= payment._id %>" class="btn btn-info btn-sm">
          <i class="fas fa-pencil-alt"></i> Ubah
        </a>
        <form
          action="/payment/delete/<%= payment._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
